[contenteditor]

[advanced]
idSlider = 1
height = 1200
autoplay = "true"
fillmode = 1
transaction = 6
autoplayinterval = 5000
pauseonhover = 2
arrowkeynavigation = "true"
slideduration = 500
mindragoffset = 40
slidespacing = 0
dragorientation = 1
playorientation = 1
chancetoshow = 1
autocenter = 2
orientation = 1
spacingx = 8
spacingy = 8
steps = 1
lanes = 1
chancetoshowarrow = 1
autocenterarrow = 3
stepsarrow = 1
==
<section id="blog" class="section">
        <div class="container ">
            <div class="row text-center">
                <div class="col">
                    <div class="overflow-hidden mb-5 ">
                    
                    
                         {% component 'contenteditor' file="banner-tuyendung.htm" %}
                    </div>
                </div>
            </div>
          
                  
        {% component 'advanced' %}
    </section>